[submodule "themes/maupassant-hugo"]
	path = themes/maupassant-hugo
	url = https://github.com/rujews/maupassant-hugo
[submodule "themes/casper"]
	path = themes/casper
	url = git@github.com:bing0n3/hugo-casper-two.git
